.btn {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.8rem;
  line-height: 1;
  padding: 1rem 0;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  border: 0;
  outline: none;
  cursor: pointer;
}
