$small: 991.99px;
$large: 992px;

.mainHeader {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  .headerToolbar {
    width: 100%;
    justify-content: space-between !important;
    position: relative;
    .iconButton {
      position: absolute;
      left: 10px;
      top: 20px;
    }
    @media screen and (max-width: $small) {
      padding-top: 1.7rem;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }

    .logo {
      @media screen and (max-width: $small) {
        flex: 1;
      }
    }

    .headerFormWrap {
      @media screen and (max-width: $large) {
        width: 46%;
      }

      @media screen and (max-width: $small) {
        width: 100%;
        margin: 1.2rem 0;
      }

      display: flex;
      align-items: center;

      .searchInputRoot {
        margin: auto;
        flex: 1;

        .searchInput {
          background-color: white;
          padding: 0 10px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          height: 40px !important;
        }
      }
      .searchButton {
        background-color: #f50057;
        color: white;
        height: 40px;
        padding: 0 1rem;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }

    .helplineCartWrap {
      display: flex;
      align-items: center;
      .helplineWrap {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        & > :first-child {
          margin-right: 1rem;
        }
      }
      // flex: 1;
    }
  }

  .wrap {
    max-width: 1450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 8rem;
      @media screen and (max-width: $small) {
        color: white;
        display: flex;
        align-items: center;
      }
      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    .callToActions {
      display: flex;
      ul {
        display: flex;
        align-items: center;
      }

      ul,
      li {
        margin: 0;
        padding: 0;
      }
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 1.5rem;
        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 0.9rem !important;
          font-weight: 600;
          line-height: 1;
          // color: black;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
        }
        .cartButton {
          @media screen and (max-width: $small) {
            position: fixed;
            bottom: 60px;
            right: 20px;
          }
        }
        .userAvatar {
          width: 40px;
          height: 40px;
          background-color: #ffffff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(26, 129, 1);
          cursor: pointer;
          &:hover {
            // border: 2px solid rgb(26, 129, 1);
            box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
    }
  }
}

.headerNavWrap {
  background-color: #fafafa;
  align-items: stretch !important;
  button,
  a {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    font-weight: bold;
  }
}

.drawerWrap {
  width: 280px;
  position: relative;
  height: 100%;
  .bgImage {
    width: 280px;
    position: absolute;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .wrap {
    color: white;
    padding: 2.5rem 0 2.5rem;
    .icon {
      color: white;
    }
  }
}
