.userProfile {
  display: block;
  width: 100%;
  // margin: 3rem auto 1rem;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul {
    li {
      display: block;
      width: 100%;

      .userAvatar {
        width: 100px;
        height: 100px;
        background-color: rgb(248, 56, 23);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 auto 1rem;
        color: white;
        & > :first-child {
          margin: 0;
        }
      }

      .displayName {
        display: block;
        width: 100%;
        text-align: center;
        margin: 1rem auto;
        font-size: 1.8rem;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }
}
