$large: 992px;
$small: 991.99px;

$lg: 992px;
$md: 768px;
$xs: 576px;

.homepage {
  // background-color: #f3f3f4;
  // padding: 2rem;
  width: 100%;
  max-width: 1450px;
  margin: auto;
  // padding: 0px 0px 2rem;
  @media screen and (min-width: $large) {
    // padding: 2rem 0px;
  }
  .directory {
    padding: 0 0.5rem;
    @media screen and (min-width: $large) {
      padding: 0 1rem;
    }
  }
  .sliderWrap {
    display: flex;

    .manWomanWrap {
      @media screen and (max-width: $small) {
        display: none;
      }

      flex: 1;
      border-radius: 0.2rem;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      overflow: hidden;

      .menSuit {
        background-color: white;
        position: relative;
        img {
          height: 210px;
          width: 100%;
          object-fit: auto;
          border-radius: 0.2rem;
        }
        .caption {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100px;
          background-color: rgb(2, 12, 42);
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          filter: blur(5px);
          -webkit-filter: blur(5px);
        }
        .captionText {
          position: absolute;
          width: 100%;
          bottom: 10px;
          z-index: 1;
          color: white;
          text-align: center;
        }
      }

      .bottomBtnWrap {
        position: absolute;
        height: 60px;
        width: 100%;
        bottom: 0;
        border-radius: 0 !important;
        box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);

        // backcl
        .bottomBtn {
          height: 60px;
          border-radius: 0px !important;
        }
      }

      @media screen and (min-width: $large) {
      }
      img {
        height: 450px;
      }
    }
  }
  .subscriptionWrap {
    background-color: #212121;
    padding: 2rem;
    margin-top: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $small) {
      flex-direction: column;
    }

    .formWrap {
      padding: 2rem;
      background-color: white;
      width: 100%;
      text-align: center;
      // border-radius: 0.5rem;

      @media screen and (min-width: $large) {
        width: 40%;
      }
      @media screen and (max-width: $small) {
        margin-top: 1.5rem;
      }

      .btn {
        width: auto;
        display: block;
        margin: 1.5rem auto 0;
      }
      // border: ;
    }
  }
  .brandSliderWrap {
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 1.5rem;
    width: 80%;
    .paper {
      padding: 3rem;
      margin-top: 1rem;
    }
    .wrap {
      width: 50%;
      height: 50px;
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
  .siteFeatureWrapRoot {
    margin-top: 3rem;
    padding: 0 2rem;
    .siteFeatureWrap {
      padding: 1rem;
      border: 1px solid rgb(229, 229, 229);

      @media screen and (min-width: $large) {
        & > :not(:last-child) {
          border-right: 1px solid rgb(229, 229, 229);
        }
      }
      @media (min-width: $xs) and (max-width: $large) {
        & > :nth-child(odd) {
          border-right: 1px solid rgb(229, 229, 229);
        }
      }

      .siteFeature {
        display: flex;
        align-items: center;
        .benLabel {
          font-weight: bold;
          color: rgba(0, 0, 0, 0.87);
        }
        .siteFeatureImageWrap {
          width: 36px;
          height: 36px;
          margin-right: 1rem;
          img {
            max-width: 36px;
            max-height: 36px;
          }
        }
      }
    }
  }
  .productTabs {
    margin-top: 2rem;
    padding: 0 1.5rem;
    .productCardWrap {
      margin-top: 2rem;
      padding-right: 16px;
    }
  }
}
